<html> 
<head>
 <link ref="stylesheet" href="/style.css" />
 </head>
<body>
<h1> Add an album!</h1>
<form action="/albums" method="POST">
<label for="artist_id"> Title</label>
<input type="text" name="title">
<label for="artist_id"> Release Year</label>
<input type="number" name="release_year">
<label for="artist_id"> Artist ID</label>
<input type="number" name="artist_id">
<input type="submit" value="Submit the form!">
</body>

</html>