<html> 
<head> <link ref="stylesheet" href="/style.css" /> </head>
<body> 
<h1><%=@artist.name%></h1>
<h2><%=@artist.genre%></h2>
<h2> Albums: </h2>
<%@artists_albums.each do |album|%>
<p><%=album.title%></p>
<br>
<%end%>
</body>
</html>