<html> 
<head></head>
<body>
<h1> Add an artist!</h1>
<form action="/artists" method="POST">
<label for="title"> Name</label>
<input type="text" name="name">
<label for="artist_id"> Genre</label>
<input type="text" name="genre">
<input type="submit" value="Submit the form!">
</body>

</html>